<!doctype html>

<html>
<head>
  <style>
    body {
      background-image: url('https://cdn.motor1.com/images/mgl/eMk0p/s3/double-decker-bus-at-silverstone.jpg');
      background-size: cover;
    }
    div {
      background: white;
    }
  </style>
    <title>Bus or Car</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>


<body>
    <div id="maintext" style="position:absolute; margin:auto; width:700px; height:200px; text-align:center; top:0; bottom: 0; left: 0; right: 0;">  
      <h1> UPLOAD A BUS OR CAR IMAGE</h1>
      <br>  
      <form method=post enctype=multipart/form-data>
         <p>
            <input type=file name=file>
            <input type=submit value=Upload>
         </p>
      </form>

    </div>
</body>

</html>